body{
   background-color: rgb(0, 72, 12);
}
/* ----------------------------------------------------------------------------CABEÇALHO---------------------------------------------------------------- */
.header{
    border-radius: 50px;
    margin-top: 5px;
    text-align: center;
}
#logo{
    max-width:300px;
    max-height:100px;
    width: auto;
    height: auto;
}
#logotipo{
    max-width:300px;
    max-height:150px;
    width: auto;
    height: auto;
}



/* ---------------------------------------------------------------------DIV1--DIV2-------------------------------------------------------------------------- */
.div1{
    background-color: rgba(99, 201, 52, 0.521);
    height: 100%;
    border-radius: 50px;
    text-align: center;
    height: 400px;
    margin-bottom: 40px;
}
#div2, #div3{
    background-color: rgba(99, 201, 52, 0.521);
    border-radius: 50px;
    text-align: center;
    height: 400px;
    margin-bottom: 40px;
}

/* -----------------------LOGIN----------------- */
.login_link{
    color: rgb(90, 231, 224);
}
#user_image {
    max-width:30px;
    max-height:30px;
    width: auto;
    height: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}


/* ---------------------------------------------------------------------------CAROUSEL-------------------------------------------------------------------- */

.carousel{
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    margin-top: 5px;
    margin-top: 30px;
    margin-left: 130px;
}

/* ---------------------------------------------------------------------------CAROUSEL--TELA2--TELA DE CADASTRO---------------------------------------------------------------- */

.carousel_cadastro{
    max-width:250px;
    max-height:250px;
    width: auto;
    height: auto;
    margin-top: 5px;
    margin-top: 30px;
    margin-left: 130px;
}


/* ----------------------------------------------------------------------MODALS------------------------------------------------------------- */

.modal{
    background-color: rgba(99, 201, 52, 0.521);
}
.modal-header{
    background-color: rgb(0, 72, 12);
    color: white;
}
.modal-body{
    background-color: rgb(99, 201, 52);
}
.modal-footer{
    background-color: rgb(0, 72, 12);
    color: white;
}
label{
    color: white;
}
/* ----------------------------------------------------------------------FOOTER----------------------------------------------------------------------- */

.footer{
    background-color: rgba(99, 201, 52, 0.521);;
}
#form_search{
    position: relative;
    left: 155%;
}
#input_search{
    border-bottom-right-radius: 50px;
}
#button_search{
    border-top-left-radius: 50px;
    background-color: rgb(0, 72, 12);
}
#cps{
    max-width:300px;
    max-height:40px;
    width: auto;
    height: auto;
}